* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
  }
  
  body {
    background-image: url("img/pexels-mídia-4116232.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .header {
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    margin-top: 0px;
    background-color: rgb(0, 0, 0);
  }
  
  .header .logo {
    cursor: pointer;
  }
  
  .header .logo img {
    width: 185px;
    height: auto;
    transition: all 1.3s;
  }
  
  .header .logo img:hover {
    transform: scale(1.2);
  }
  
  .header .nav-links {
    list-style: none;
  }
  
  .header .nav-links li {
    display: inline-block;
    padding: 0 20px;
  }
  
  .header .nav-links a {
    font-size: 700;
    color: red;
  }
  
  .header .nav-links li:hover {
    transform: scale(1.1);
  }
  
  .header .nav-links li a:hover {
    color: black;
  }
  
  .header .btn button,
  .header .menu button {
    font-weight: 700;
    color: #32402c;
    padding: 9px 25px;
    background: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    font-size: 38px;
    font-family: Technovier;
  }
  
  .header .btn button:hover,
  .header .menu button:hover {
    background-color: white;
    color: rgb(255, 0, 0);
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 800px) {
    .nav-links,
    btn {
      display: none;
    }
  
    .menu {
      display: inherit;
    }
  }
  
  .container {
    background: white;
    padding: 15px 9%;
    padding-bottom: 100px;
    border-radius: 8px;
    width: auto;
    height: auto;
  }
  
  .cuadro-txt {
    border-radius: 8px;
    border-color: black;
    background-color: rgb(193, 193, 193);
    height: 40px;
    padding-left: 10px;
  }
  
  #boton1 {
    content: "";
    width: 240.5px;
    height: 50px;
    left: 0;
    top: 0;
    border: 3px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-family: Technovier;
    font-size: 20px;
    transition: 0.4s cubic-bezier(0.62, 1.43, 0.44, -1.32);
  }
  
  #boton1:hover {
    box-shadow: 0 0 10px red, 0 0 30px red, 0 0 70px red, 0 0 130px red;
    transform: scale(1.2);
  }
  
  .Registro {
    color: red;
    font-size: 800;
  }
  
  .Registro:hover {
    text-transform: uppercase;
  }
  
  /*Pie de pagina*/
  
  #footer {
    background: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    overflow: auto;
  }
  
  #p-footer {
    background: black;
    width: 100%;
    height: auto;
    overflow: auto;
  }
  
  .titulo-footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 10px;
  }
  
  .span-subtitulo {
    color: rgb(255, 0, 0);
    font-weight: 500;
  }
  
  .contacto {
    color: rgb(61, 53, 53);
    font-size: 20px;
    margin-top: 35px;
    font-weight: 800;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .titulo-contacto {
    color: rgb(61, 53, 53);
    margin-left: 20px;
    text-decoration: none;
  }
  
  .localizacion {
    color: yellow;
    font-size: 25px;
  }
  
  .titulo-ubicacion {
    color: red;
    margin-left: 25px;
  }
  
  .boton-siguenos {
    background: yellow;
    width: 50%;
    height: 45px;
    margin: 0 auto;
  }
  
  .siguenos {
    color: black;
    text-align: center;
    position: relative;
    top: 25px;
    font-weight: 800;
  }
  
  #fondo-footer {
    background: #000000;
    width: 100%;
    height: 50px;
  }
  
  .ubicacion {
    margin-left: 20px;
    color: rgb(61, 53, 53);
    text-decoration: none;
  }
  
  /*PIE DE PAGINA*/
  
  /*Elementos del menu*/
  
  #footer {
    background: rgb(0, 0, 0);
    width: 100%;
    height: auto;
  }
  
  #p-footer {
    background: black;
    width: 100%;
    height: auto;
  }
  
  .titulo-footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 10px;
  }
  
  .span-subtitulo {
    color: rgb(255, 0, 0);
    font-weight: 500;
  }
  
  .contacto {
    color: rgb(61, 53, 53);
    font-size: 20px;
    margin-top: 35px;
    font-weight: 800;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .titulo-contacto {
    color: rgb(61, 53, 53);
    margin-left: 20px;
    text-decoration: none;
  }
  
  .localizacion {
    color: yellow;
    font-size: 25px;
  }
  
  .titulo-ubicacion {
    color: red;
    margin-left: 25px;
  }
  
  .boton-siguenos {
    background: yellow;
    width: 50%;
    height: 45px;
    margin: 0 auto;
  }
  
  .siguenos {
    color: black;
    text-align: center;
    position: relative;
    top: 25px;
    font-weight: 800;
  }
  
  #fondo-footer {
    background: #000000;
    width: 100%;
    height: 50px;
  }
  
  .ubicacion {
    margin-left: 20px;
    color: rgb(61, 53, 53);
    text-decoration: none;
  }
  
  #letra-t {
    font-family: 'Raleway', sans-serif;
    font-size: 15;
    color: #000000;
    margin: 30px;
  }
  
  #txt-R {
    font-family: Technovier;
    color: white;
    padding: 20px;
  }
  
  #txt-R:hover {
    text-shadow: #000000 0px 5px 10px;
  }
  
  /*Tabla*/
  
  .table-container {
    padding: 0 10%;
    margin: 40px auto 0;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table thead {
    background-color: black;
  }
  
  .table thead tr th {
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid rgb(37, 30, 30);
    background-color: #ff3939;
  }
  
  .table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #ffffff;
    background-color: rgb(55, 52, 52);
    padding: 8px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .table tbody tr td .botonS {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    font-weight: medium;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 0px solid transparent;
    font-size: 14px;
    opacity: 1;
  }
  
  @media (max-width: 768px) {
    .table thead {
      display: none;
    }
  
    .table,
    .table tbody,
    tr,
    .table td {
      display: block;
      width: 100%;
    }
  
    .table tr {
      margin-bottom: 15;
    }
  
    .table tbody tr td {
      text-align: right;
      padding-left: 50px;
      position: relative;
    }
  
    .table td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: 600;
      font-size: 14px;
      text-align: left;
    }
  }
  
  .botones {
    background-color: red;
    border-radius: 8px;
  
  }
  
  #imagenes {
    width: 40px;
    border-radius: 8px;
  
  }